.day--box {
    /* Отступы */
    padding: 10px;

    /* Основные свойства */
    border: #0003 1px solid;
    border-radius: 20px;
    height: 220px;

    /* Выравниваем */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* UX выделения */
    cursor: pointer;
}

.day--box p {
    user-select: none;
}

.day--events {
    height: 20px;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
}

.day--box.current {
    background-color: #f6fff6;
}

.day--box:hover {
    box-shadow: 0 0 10px #0002
}
