.suggestion {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    background: radial-gradient(farthest-corner at 10px 40px, #fbfff8 0%, #fff0 100%);
    border-radius: 30px;
    box-shadow: 0 0 8px #0003;
    backdrop-filter: blur(2px);
    min-width: 500px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.suggestion .title {
    font-size: 14px;
    font-weight: 500;
}

.suggestion .description {
    font-size: 12px;
}
